@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gaming-gray-light;
  }

  body {
    @apply bg-gaming-darker text-white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #0a0e1a inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
